<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94764228020-j1etu98muiit7fkfjqbb0i0tc8cd1fbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94764228020-j1etu98muiit7fkfjqbb0i0tc8cd1fbp</string>
	<key>API_KEY</key>
	<string>AIzaSyDTR38j6JbSyj49ugXraODvhSgdtQasOY4</string>
	<key>GCM_SENDER_ID</key>
	<string>94764228020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christianleovido.ForestClone</string>
	<key>PROJECT_ID</key>
	<string>forest-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>forest-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94764228020:ios:a763beac95555c2eeea6e1</string>
	<key>DATABASE_URL</key>
	<string>https://forest-clone.firebaseio.com</string>
</dict>
</plist>